body {
	
	background-color: white;
	font-family: ‘Merriweather’, Georgia, serif; 
}



.cat-wrapper {
	margin-left: 2%;
	border-left: 1px solid #333;

}


.red {
	background-color: red !important;
}


.cat-title {

	background-color: rgb(251, 239, 202);
	margin:1%;
	padding:1%;
	font-size: 18px;
	display: inline-block;
}

.sidebar {
	padding: 2%;
	color:white;
	font-size: 16px;
}

.score {
	background-color: rgb(160,181,183);

}
.animal-card {
	background-color: rgb(65, 107, 111);
}

.animal-card-title {
	text-align: center;
	size:14px;
}

.animal-card-title .italic {
	font-style: italic;
}
.animal-card-photo {
	width:95%;
	height:160px;
	border: 1px solid #333;
	margin-top:2%;
	margin-bottom:2%;
	background-size: cover;
}
.animal {
	background-color: white;
	margin: 2px;
	border: 1px solid black;
}

.invisible {
	display:none;
}

.caret{
	margin-left: 1px;
}


.border.foo {
	display: none;
}

#ptrundefined {
	display: none;
}

#renderTree div .cat-title{
	background-color: rgb(124,153,156) !important;
}

#renderTree div div .cat-title{
	background-color: rgb(141, 166, 169)  !important;
}

#renderTree div div div div .cat-title{
	background-color: rgb(160,181,183) !important;
}

#renderTree div div div div div div .cat-title{
	background-color:  rgb (207,218,219)!important;
}

#renderTree div div div div div div div div .cat-title{
	background-color:  rgb(179,196,197)  !important;
}

#renderTree div div div div div div div div div div div.cat-title{
	background-color: rgb(221, 228,229) !important;
}

.guessAnimal {
	display: none;
}