body {
	background-color: rgb(65, 107, 111);
}

.title {
	background-color: rgb(251, 239, 202);
	margin:3%;
	padding:1%;
	font-size: 18px;
}

.animal {
	background-color: black;
/*	background-size: cover;*/
	color:white;
	width:20%;
	height:20%;
	display:inline-block;
	margin: 1%;
}
.animal_img {
	width:10px;
	height:10px;
}
/* CURRENTLY IN: styles/main.css */
.thumbnail {
	width:200px;
	height:auto;
}

.thumbnails {
	display: inline-block;
	float: left;
}

.photo {
	display: inline-block;
	margin-left:3px;
	margin-right:3px;
}

.invisible {
	display:none;
}





.block{
	display: inline-block;

	font-size: 10pt;
	vertical-align: top;
}

.caret{
	margin-left: 1px;
}

.title{
	text-align: center;
	clear:left;
	margin-bottom: 10pt;
}
.border.foo {
	display: none;
}

#ptrundefined {
	display: none;
}